@using GoogleBookApi.ViewModels
@model IEnumerable<BookVm>

<div class="row g-3">
    @foreach(BookVm book in Model)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <partial name="_BookCard" model="book" />
        </div>
    }
</div>