@using GoogleBookApi.Controllers
@using GoogleBookApi.ViewModels

@{
    ViewData["Title"] = nameof(HomeController.BookSearch);
    // 9865026864

    IEnumerable<DropdownItemVm> dropdownItems = [
        new() {
            DisplayText = "ISBN",
            Icon = "bi bi-upc"
        },
        // new() {
        //     DisplayText = "Title",
        //     Icon = "bi bi-journal-text"
        // }
    ];
}

<div class="row justify-content-center align-items-center mb-4">
    <div id="book-search" class="card shadow border-0 rounded rounded-3 mt-3">
        <div class="input-group my-3 shadow-sm">
            <button id="btn-search-by" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i id="search-by-icon" class="bi bi-upc me-2"></i>
                <span>ISBN</span>
            </button>
            <ul class="dropdown-menu">
                @foreach (DropdownItemVm dropdownItem in dropdownItems)
                {
                    <li>
                        <dropdonw-item icon="@dropdownItem.Icon" aria-label="@dropdownItem.DisplayText">
                            @dropdownItem.DisplayText
                        </dropdonw-item>
                    </li>
                }
            </ul>
            <input type="text" id="book-search-criteria" class="form-control border-0" aria-label="Book Search Criteria" />
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center" id="book-search-result"></div>

@section Scripts {
    <script src="~/js/util/isbnValidator.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/dist/js/sweetalert2.all.min.js" asp-append-version="true"></script>
    <script src="~/js/book-search.js" asp-append-version="true"></script>
}