.card {
    background: #fdf6f2;
}

    .card .book-image-wrapper {
        height: 198px;
        max-height: 248px;
    }
    
    .card .book-image-wrapper .book-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .card .book-title {
        color: #d26e4d;
    }

    .card .book-subtitle,
    .card .list-unstyled {
        color: #522C2B !important;
    }

    .card .card-text:last-child {
        width: calc(100% - 2rem);
    }

    .card .card-footer {
        width: 90%;
    }